footer {
    position: absolute;
    bottom: 0;
    color: white;
    right: 0;
    margin-right: 2em;

    @media (max-width: 900px) {
        // centrar
        left: 50%;
        width: 50%;
        transform: translate(-50%, -25%);
    }
}
