.App {
  text-align: center;
}

.App-logo {
/*   height: 40vmin; */
  pointer-events: none;
}

@media (max-width: 600px) {
  .App-logo {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  background: rgb(255,255,255);
  /*background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(2,0,36,1) 20%);*/
  background: linear-gradient(90deg, rgba(255,255,255,1) 42%, rgba(2,0,36,1) 56%);
}

@media (max-width: 600px) {
  .main {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(2,0,36,1) 20%);
  }
}
